@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 80px;
    display: flex;
}

img {
    width: 100%
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 24px;
    margin-right: 24px;
    padding: 0 24px;
}


.red {
    color: #bf0505
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    text-decoration: none;
    color: #bf0505;
    font-weight: bold;
    margin-left: 16px;
    font-size: 20px;
    padding: 8ox;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid;
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

#landing {
    background-color: #ffeded;
}

header {
    height: calc(100vh - 80px);
}


.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__description {
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
    display: flex;
    flex-direction: column;
}

.header__img--wrapper {
    margin-top: auto;
}

h1 {
    font-size: 56px;
    color: #bf0505;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 32px;
    font-size: 32px;
}